<div id='header'>

	<!-- <i class="fa fa-arrow-left back-button"></i> -->

	<div id='genre-info'>
		{{ data.page.title }}
	</div>

	<input type='search' ng-model='search' ng-keyup="$event.keyCode == 13 ? onSearch(search) : null">

</div>

<div id='container' when-scrolled="loadMore()">
	
	<div ng-repeat="item in data.page['content-items'].content track by $index" ng-if="$index % 3 == 0" class="row">
    
    <div class="col-xs-4">
    	<div class='image'>
				<video poster='images/{{data.page["content-items"].content[$index]["poster-image"]==="posterthatismissing.jpg"?"placeholder_for_missing_posters.png":data.page["content-items"].content[$index]["poster-image"]}}'></video>
			</div>
			<div class='caption'>
				{{data.page['content-items'].content[$index].name}}
			</div>
    </div>

    <div class="col-xs-4">
    	<div class='image'>
				<video poster='images/{{data.page["content-items"].content[$index + 1]["poster-image"]==="posterthatismissing.jpg"?"placeholder_for_missing_posters.png":data.page["content-items"].content[$index + 1]["poster-image"]}}'></video>
			</div>
			<div class='caption'>
				{{data.page['content-items'].content[$index + 1].name}}
			</div>
    </div>

    <div class="col-xs-4">
    	<div class='image'>
				<video poster='images/{{data.page["content-items"].content[$index + 2]["poster-image"]==="posterthatismissing.jpg"?"placeholder_for_missing_posters.png":data.page["content-items"].content[$index + 2]["poster-image"]}}'></video>
			</div>
			<div class='caption'>
				{{data.page['content-items'].content[$index + 2].name}}
			</div>
    </div>
  </div>

</div>